@model LaboratoryQualityControl.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpireTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpireTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnterNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnterNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issued)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearGet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearGet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNecessary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelephoneNecessary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrugSensitivity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrugSensitivity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeginTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HistoryVaccination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HistoryVaccination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HistoryOfOccupationalInjury)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HistoryOfOccupationalInjury)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaritalStatus.MaritalStatusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationalCertificate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationalCertificate.EducationalCertificateName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodType.BloodTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LaboratorySections)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaboratorySections.SectionCodeLab)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmploymentStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmploymentStatus.EmploymentStatusName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserCode" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
