@model IEnumerable<LaboratoryQualityControl.Models.User>

@{
    ViewData["Title"] = "اطلاعات پرسنل";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">تعریف پرسنل جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaboratorySections.SectionNameLab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentStatus.EmploymentStatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireTime)
            </td>        
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaboratorySections.SectionNameLab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentStatus.EmploymentStatusName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserCode">ویرایش</a> |
                @*<a asp-action="Details" asp-route-id="@item.UserCode">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.UserCode">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
