@model LaboratoryQualityControl.Models.DeviceType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeviceTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
