@model LaboratoryQualityControl.Domain.AutoclaveQualityControl

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AutoclaveQualityControl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatDuringDeployment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatDuringDeployment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PressureDuringDeployment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PressureDuringDeployment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurposeOfUse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurposeOfUse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResultTST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResultTST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResultBiologic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResultBiologic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateRecordTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateRecordTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device.DeviceCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserFunctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserFunctor.FName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutoclaveQualityControlID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
