@model IEnumerable<LaboratoryQualityControl.Domain.AutoclaveQualityControl>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatDuringDeployment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PressureDuringDeployment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurposeOfUse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultTST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultBiologic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateRecordTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFunctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeatDuringDeployment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PressureDuringDeployment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurposeOfUse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultTST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultBiologic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateRecordTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.DeviceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFunctor.FName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutoclaveQualityControlID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AutoclaveQualityControlID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AutoclaveQualityControlID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
