@model IEnumerable<LaboratoryQualityControl.Models.LaboratorySection>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionNameLab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionNameLab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectionCodeLab">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SectionCodeLab">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SectionCodeLab">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
