@model IEnumerable<LaboratoryQualityControl.Models.Device>

@{
    ViewData["Title"] = "شناسنامه تجهیزات";
}

    <h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DeviceTypeID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Factory)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturingCountry)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FeaturedUsers)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IdentificationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionLaunchDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneToSupportCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionCodeLab)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RecordTime)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DeviceType.DeviceTypeName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Factory)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingCountry)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FeaturedUsers)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdentificationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionLaunchDATE)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneToSupportCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaboratorySections.SectionNameLab)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.RecordTime)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeviceCode">ویرایش</a> |
                @*<a asp-action="Details" asp-route-id="@item.DeviceCode">جزئیات</a>|*@
                <a asp-action="Delete" asp-route-id="@item.DeviceCode">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
