@model LaboratoryQualityControl.Models.ServiceDevice

@{
    ViewData["Title"] = "حذف سرویس تجهیزات";
}

    <h2>@ViewData["Title"] </h2>

<h3>آیا مطمئن هستید که می خواهید این را حذف کنید؟</h3>
<div>
    <h4> @Html.DisplayFor(model => model.Device.DeviceName)</h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Device.DeviceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device.DeviceName)
        </dd>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.ContactTimeForSupportCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactTimeForSupportCompany)
        </dd>*@
 
  
    @*</dl>*@
    
    <form asp-action="حذف">
        <input type="hidden" asp-for="ServiceDeviceID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">برگشت تو لیست</a>
    </form>
</div>
