@model LaboratoryQualityControl.Models.ServiceDevice

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceDevice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExitTimeOfWork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExitTimeOfWork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactTimeForSupportCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactTimeForSupportCompany)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserCodeDisinfectantDevice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCodeDisinfectantDevice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupportCompany.SupportCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupportCompany.SupportCompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionOfRepairCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionOfRepairCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeReturnToWork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeReturnToWork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.NickName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationService)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationService.LocationServiceName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServiceDeviceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
