@model IEnumerable<LaboratoryQualityControl.Models.ServiceDevice>

@{
    ViewData["Title"] = "سرویس تجهیزات";
}

    <h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Device.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.IdentificationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCodeDisinfectantDevice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfRepairCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCodeConfirm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationService.LocationServiceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Device.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.IdentificationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDisinfectantDevice.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceMenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfRepairCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmUser.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationService.LocationServiceName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceDeviceID">ویرایش</a> |
                @*<a asp-action="Details" asp-route-id="@item.ServiceDeviceID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ServiceDeviceID">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
