@model IEnumerable<LaboratoryQualityControl.Domain.LogBookDevice>

@{
    ViewData["Title"] = "LogBook تجهیزات";
}

    <h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Device.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.IdentificationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCode)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Shift.ShiftName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceStatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.RecordTime)
        </th>*@


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Device.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.IdentificationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.Shift.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deviceStatus.DeviceStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.RecordTime)
        </td>*@


            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLogBook">ویرایش</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdLogBook">شرح</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IdLogBook">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
