@model IEnumerable<LaboratoryQualityControl.Models.LogBookDevice>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Device.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.NickName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Device.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.NickName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLogBook">ویرایش</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdLogBook">شرح</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IdLogBook">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
