@model IEnumerable<LaboratoryQualityControl.Models.DeviceMaintenance>

@{
    ViewData["Title"] = "نگهداری تجهیزات";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Device.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.IdentificationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlledFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemediesAndCorrectiveAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCodeFunctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCodeConfirm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Device.DeviceName)
            </td>
            <td>                              
                @Html.DisplayFor(modelItem => item.Device.IdentificationCode)
            </td>                             
            <td>                              
                @Html.DisplayFor(modelItem => item.Device.Location)
            </td>                             
            <td>                              
                @Html.DisplayFor(modelItem => item.ControlledFactor)
            </td>                             
            <td>                              
                @Html.DisplayFor(modelItem => item.DoTime)
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>                             
            <td>
                @Html.DisplayFor(model => item.RemediesAndCorrectiveAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunctorUser.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmUser.NickName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeviceMaintenanceID">ویرایش</a> |
                @*<a asp-action="Details" asp-route-id="@item.DeviceMaintenanceID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.DeviceMaintenanceID">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
