@model LaboratoryQualityControl.Domain.SpectrophotometerMaintenance

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SpectrophotometerMaintenance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SetDeviceZero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SetDeviceZero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LightBulbClean)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LightBulbClean)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BulbReplacement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BulbReplacement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MirrorSwitch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MirrorSwitch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MirrorClean)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MirrorClean)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MirrorAdjustment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MirrorAdjustment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateRecordTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateRecordTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device.DeviceCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserFunctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserFunctor.FName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserConfirm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserConfirm.FName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SpectrophotometerMaintenanceID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
